<div class="contacts-line">
    <div class="contacts-line__item">ПРИЕМНАЯ:</div>
    <div class="contacts-line__item">8 (3467) <b>33-29-64</b></div>
</div>
<div class="contacts-line">
    <div class="contacts-line__item">ТЕЛЕФОН:</div>
    <div class="contacts-line__item">8 (3467) <b>33-26-04</b></div>
</div>
<div class="contacts-line">
    <div class="contacts-line__item">E-MAIL:</div>
    <div class="contacts-line__item"><a href="mailto:to.kultura@yandex.ru"><b>to.kultura@yandex.ru</b></a></div>
</div>