.detail-page {
     width: 100%;
 }
.detail-page-text {
    line-height: 1.5rem;
}
.detail-page-text > p {
    margin: 0 0 1.5rem 0;
}
.adm-column {
    width: 33%;
}
.structure_contact {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}
.main-padding-right {
    padding-right: 30px;
}